<template>
  <nav
    class="
      bg-gray-900
      text-white
      flex flex-col
      justify-between
      py-6
      px-8
      border-b
    "
  >
    <NuxtLink to="/" class="flex items-end">
      <img class="w-10" src="~/assets/img/tillcarlos.png" alt="" />
      <span class="mx-2 text-lg">Till Carlos</span>
    </NuxtLink>
    <div class="space-y-4 my-4 flex flex-col">
      <NuxtLink to="/posts">Posts</NuxtLink>
      <NuxtLink to="/about">About</NuxtLink>
    </div>
  </nav>
</template>