<template>
  <nav class="flex justify-between py-6 px-8 md:px-16 border-b">
    <NuxtLink to="/" class="flex items-end">
      <img class="w-10" src="~/assets/img/tillcarlos.png" alt="" />
      <span class="mx-2 text-lg">Till Carlos</span>
    </NuxtLink>
    <div class="space-x-4">
      <NuxtLink to="/posts">Posts</NuxtLink>
      <NuxtLink to="/about">About</NuxtLink>
    </div>
  </nav>
</template>