<template>
  <div class="w-full md:w-2/3 p-4">
    <nuxt-link class="" :to="`/posts/${slug}`">
      <div
        class="
          bg-gray-100
          h-32
          flex
          items-center
          border
          shadow-md
          rounded-md
          relative
        "
      >
        <img
          class="w-32 object-cover h-full right-0 rounded-l-md"
          :src="image"
          alt=""
        />
        <div class="p-4">
          <h3 class="text-3xl font-bold">{{ title }}</h3>
          <div class="text-gray-600">{{ desc }}</div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Title',
    },
    desc: {
      type: String,
      default: 'Description',
    },
    slug: {
      type: String,
      default: '/',
    },
    image: {
      type: String,
      default:
        'https://images.unsplash.com/photo-1633114128814-11fac33f707b?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80',
    },
  },
}
</script>