<template>
  <Default title="Posts">
    <Header />
    <!-- loop through each post -->
    <div
      class="my-4 flex flex-col items-center justify-center w-full flex-wrap"
    >
      <h1 class="text-5xl font-bold">Post</h1>
      <p>List of latest posts</p>
      <PostContainer
        class="my-2"
        v-for="p in posts"
        v-bind:key="p.slug"
        :title="p.title"
        :desc="p.description"
        :slug="p.slug"
        :image="p.image"
      ></PostContainer>
    </div>
  </Default>
</template>

<script>
export default {
  data() {
    return {
      posts: [],
    }
  },
  head() {
    return {
      title: `Blog`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `My beautiful blog`,
        },
      ],
    }
  },
  async fetch() {
    this.posts = await this.$content('posts').fetch()
  },
}
</script>
