<template>
  <div class="text-gray-900">
    <Header />
    <div class="text-center py-8">
      <span> {{ doc.date }}</span>
      <h1 class="text-5xl font-bold text-center">{{ doc.title }}</h1>
    </div>

    <div class="p-6 flex md:w-3/4 items-start justify-center mx-auto">
      <div class="w-1/2 hidden md:flex justify-start items-center">
        <img
          src="~/assets/img/tillcarlos.png"
          class="rounded-t-full w-16"
          alt=""
        />
        <div class="mx-2">
          <h1 class="text-2xl font-semibold">Till Carlos</h1>
          <span class="text-gray-500">@tillcarlos</span>
        </div>
      </div>
      <div class="w-full">
        <h1 class="text-3xl">{{ doc.description }}</h1>
        <img class="w-64" :src="doc.image" alt="" srcset="" />
        <nuxt-content class="my-4 text-gray-600" :document="doc" />
      </div>
    </div>
    <!-- <Footer /> -->
  </div>
</template>


<script>
export default {
  head() {
    return {
      title: `${this.doc.title}`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `${this.doc.description}`,
        },
      ],
    }
  },
  async asyncData({ $content, params }) {
    const doc = await $content(params.slug).fetch()
    return { doc }
  },
}
</script>