<template>
  <main class="">
    <Header />
    <div
      class="
        py-16
        flex
        bg-blue-50
        h-screen
        flex-col
        md:flex-row
        md:px-12
        items-center
      "
    >
      <div class="px-4">
        <span class="text-blue-600 text-lg">Hello, My Name is Till.</span>
        <h1 class="text-5xl font-semibold max-w-4xl">
          I'am software Developer and marketer.
        </h1>
        <p class="my-2">
          German citizen, living in Vietnam and all over the world. Computer
          scientist (Dipl.-Inf.) by trade, Marketer by passion.
        </p>
      </div>
      <img
        className="w-32 max-w-lg my-4"
        src="~/assets/img/till.svg"
        alt="Till photo"
      />
    </div>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  head() {
    return {
      script: [
        { src: 'https://identity.netlify.com/v1/netlify-identity-widget.js' },
      ],
      titleTemplate: `%s`,
      title: 'Tillcarlos',
      description: 'Software Developer and Marketer',
    }
  },
  async asyncData({ $content, params }) {
    const doc = await $content('index').fetch()
    return { doc }
  },
})
</script>
